@font-face {
    font-family: 'NeueMachina';
    src: url(../fonts/NeueMachina-Light.otf);
}
@font-face {
    font-family: 'juana';
    src: url(../fonts/Fontspring-DEMO-juana-regular.otf);
}

#view1 .middle {
    margin-top: 10vw;
    text-align: center;
    position: relative;
}

#view1 .middle p {
    line-height: 1.2;
    font-size: 5vw;
    font-weight: 100;
    font-family: 'NeueMachina';
    margin-bottom: 5vw;
}

.text-highlight {
    font-family: 'NeueMachina';
    color: #24cfa6;
}

#view1 .middle p .italic {
    font-style: italic;
    font-weight: 100;
    font-family: 'juana';
}

#view1 .middle #button {
    text-decoration: none;
    color: black;
    padding: 1vw;
    background-color: #24cfa6;
    border-radius: 10px;
    font-family: 'NeueMachina';
    font-size: 1vw;
    font-weight: bold;
}

#view1 .middle .side-text {
    font-size: 1vw;
    width: 15%;
    text-align: left;
    position: absolute;
    right: 20%;
    bottom: 0;
}

#view1 .bottom {
    margin-top: 5vw;
    width: 100%;
}

#view1 .bottom .mileStones {
    padding-top: 2vw;
    display: flex;
    gap: 5vw;
    font-size: 2vw;
    justify-content: center;
}

#view1 .bottom .mileStones .mileStone {
    text-align: center;
}

#view1 .bottom .mileStones .mileStone .text p {
    font-size: 1.2vw;
    font-family: 'NeueMachina';
}

#view2 .top {
    width: 100%;
    font-family: 'NeueMachina';
    margin-top: 5vw;
    font-size: 3vw;
    font-weight: 400;
    text-align: center;

}
#view2 .middle{
    width: 100vw;
    
}
#view2 .middle iframe {
    aspect-ratio: 16/9;
    border-radius: 20px;
    overflow: hidden;
    width: 80vw;
    border: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 5vh;
    bottom: 5vh;
}

#view2 {
    width: 100%;
}


#view2 .bottom {
    margin-top: 5vw;
    display: flex;
    justify-content: center;

}
#view2 .bottom #button {
    text-decoration: none;
    color: black;
    padding: 1vw 3vw;
    font-size: 1.5vw;
    background-color: #24cfa6;
    border-radius: 1vw;
    margin: 0 auto;
}

#view3 {
    margin-top: 5vw;
    margin-left: 5vw;
}

#view3 #courses_offered {
    font-size: 3vw;
    font-weight: 200;
}

#view3 #courses {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 5vw;
    width: 100%;
}

#view3 #courses .course {
    margin-right: 5vw;
    margin-bottom: 5vw;
}

#view3 #courses .course #image_link {
    width: 20vw;
    border-radius: 20px;
    background-color: #181717;
    display: block;
    text-decoration: none;
    color: white;
    border-radius: 2vw;
    overflow: hidden;
}

#view3 #courses .course #image_link p {
    font-size: 1.5vw;
    font-weight: 300;
    font-family: 'NeueMachina';
    margin-left: 5%;
    margin-bottom: 5%;
}

#view3 #courses .course img {
    width: 20vw;
    margin-bottom: 1vw;
}

#view3 #courses .course #link {
    width: 18vw;
    padding: 1vw;
    text-align: center;
    color: black;
    text-decoration: none;
    background-color: #24cfa6;
    display: block;
    border-radius: 20px;
    font-size: 1.5vw;
    margin-top: 3vw;
    font-weight: bold;
    font-family: 'NeueMachina';
}

#view4 {
    width: 100%;
}

#view4 #companees {
    font-size: 5vw;
    text-align: center;
    font-family: 'NeueMachina';
}

#view4 #companiesimg {
    width: 75%;
    height: 40vw;
    margin: 10vw auto;
    background-image: url(../images/companies.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#view4 #button {
    width: 30vw;
    padding: 2vw 6vw;
    text-align: center;
    color: black;
    text-decoration: none;
    background-color: #24cfa6;
    display: block;
    border-radius: 20px;
    font-size: 2.7vw;
    font-weight: bold;
    font-family: 'NeueMachina';
    margin: 5vw auto;
}

